* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#MdProductos {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#Productos {
    width: 90%;
    padding: 10px 40px;
}

#Productos .swiper {
    width: 100%;
    height: 100%;
}

#Productos .swiper-slide {
    position: relative;
    text-align: start;
    font-size: 17px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.8);
}

#Productos .swiper-slide img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#Productos .swiper-slide .card-description {
    padding: 1rem 1rem;
}

#Productos .swiper-slide .card-title,
#Productos .swiper-slide .card-text {
    margin-bottom: .5rem;
}

#Productos .swiper-slide .card-link {
    text-align: center;

}

#Productos .swiper-slide .card-link a {
    text-decoration: none;
    color: #1d6ce2;
}

.swiper-button-next {
    right: 20px !important;
}

.swiper-button-prev {
    left: 20px !important;
}